
<!DOCTYPE html>
<html>
  <head>
    <title><%= info_shop.Ten_shop %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link rel="stylesheet" href="stylesheets/hidden_md-slide_nav-header_top-header_middle.css">
    <link rel="stylesheet" href="stylesheets/danh-muc-san-pham.css">
    <link rel="stylesheet" href="stylesheets/nav-bar-item.css">
    <link rel="stylesheet" href="stylesheets/phan_header_navber_conlai.css">
    <link rel="stylesheet" href="stylesheets/thanhdieuhuong.css">
    <link rel="stylesheet" href="stylesheets/dangnhap.css">
  </head>
  <body>
 
    <!--phần tach file dùng chung hidden-md,slide-nav,header-top,header-middle-->
    <% include partials-layout/hidden_md-slide_nav-header_top-header_middle %>
    <!--kết thúc phần tach file dùng chung hidden-md,slide-nav,header-top,header-middle-->
    <!--phần header-nav-->
    <div class="header-navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                    <!--phần danh mục sản phẩm-->
                    <% include partials-layout/danh-muc-san-pham %>
                    <!--kết thúc phần danh mục sản phẩm-->
                </div>

                <div class="col-lg-9">
                    <!--phần navbar-item-->
                    <% include partials-layout/nav-bar-item %>
                    <!--kết thúc phần navbar-item-->
                </div>
            </div>
        </div>
    </div>
    <!--kết thúc phần header-nav-->

    <!--phần thanh hiển thị điều hướng-->
    <section class="bread-crumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--nội dung thanh điều hướng-->
                    <ul class="breadcrumb">
                        <li class="home">
                            <span>Trang chủ</span>
                            <span><i class="fa">/</i></span>
                        </li>

                        <li>
                            <span class="sp">Đăng nhập</span>
                        </li>
                    </ul>
                    <!-- kết thúc nội dung thanh điều hướng-->
                </div>
            </div>
        </div>
    </section>
    <!--kết thúc phần thanh hiển thị điều hướng-->
    
    <!--phần đăng nhập-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-login">
                    ĐĂNG NHẬP TÀI KHOẢN
                </div>
                <% if(er){%>
                    <div class="alert alert-danger">
                        Đăng nhập không thành công
                      </div>
                <%}%>
            </div>
            <div class="col-md-6">
                <div class="title-alert">
                    Nếu bạn đã có tài khoản, đăng nhập tại đây.
                </div>
                <form action="/account/login" method="post">
                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input name="emaildangnhap" type="text" class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="matkhau">Mật khẩu *</label>
                        <input name="matkhaudangnhap" type="password" class="form-control" id="matkhau" placeholder="Mật khẩu" required>
                    </div>
                    <button type="submit" class="btn btn-success">Đăng nhập</button>
                    <button type="button" class="btn btn-light"><a href="/account/register">Đăng kí</a></button>
                </form>
            </div>

            <div class="col-md-6">
                <div class="title-alert">
                    Bạn quên mật khẩu? Nhập địa chỉ email để lấy lại mật khẩu qua email.
                </div>
                <form action="/account/recover" method="post">
                    <div class="form-group">
                        <label for="layemail">Email *</label>
                        <input type="text" class="form-control" id="layemail" placeholder="Email" required>
                    </div>
                    <button type="submit" class="btn btn-success">Lấy lại mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
    <!--kết thúc phần đăng nhập-->
  <% include partials-layout/footer %>
  <script src="javascripts/mobile.js"></script>
  </body>
</html>
