 <!--phần banner-->
 <div class="section-ss-banner">
    <!-- Set up your HTML -->
    <div class="row">

        <div class="col-lg-9">
            <div style="margin: 10px 0px 10px 0px;" class="owl-carousel owl-banner">
                <div> 
                    <img class="slider" src="/images/slider/1.jpg" alt="">
                </div>
                <div> 
                    <img class="slider" src="/images/slider/2.jpg" alt="">
                </div>
                <div> 
                    <img class="slider" src="/images/slider/3.jpg" alt="">
                </div>
            </div>



            <div class="banner-bottom">
                <img src="/images/banner/ss_banner_img_2.jpg" alt="">
                <img src="/images/banner/ss_banner_img_3.jpg" alt="">
            </div>

        </div>

        


        <div style="margin: 10px 0px 10px 0px;padding: 0;" class="col-lg-3">
            <div class="banner-right">
                <div class="bn">
                    <img style="width: 214px; height: 430px;" src="images/banner/ss_banner_img_1.jpg" alt="">
                </div>
                <div class="hover-collection"></div>
            </div> 
        </div>
    </div>
</div>
<!--kết thúc phần banner-->