<footer style="padding-top:30px;background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                Giới thiệu
            </div>
            <div class="col-lg-3">
                Chính sách công ty
            </div>
            <div class="col-lg-3">
                Hotline liên hệ
            </div>
            <div class="col-lg-3">
                Hệ thống cửa hàng
            </div>
        </div>


        <h1 style="color: pink; text-align: center;" >Shop KMT</h1>
    </div>
</footer>
